/* Modif couleur sujets épinglés */
.stickytext {color:red; font-weight:bold;}
/****************************************************************/
/* 1.bis PARAMETRES du BANDEAU */
/****************************************************************/

#bandeau {
	border-left: 1px solid #0066b9;
	border-right: 1px solid #0066b9;
	background: url(/wiki/lib/tpl/RL/images/bandeau3.jpg) repeat-x;
    height: 60px;
	margin: 0px 0px 0 152px;
}

#bandeau #searche {
    text-align: center;
    float:right;
	margin-top:36px;
	height: 22px;
	width: 330px;
	border:0;
	padding:2px 0 0 0;
	background: url(/wiki/lib/tpl/RL/images/fondrech.png);
    font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;

}

#bandeau #searche input {padding:0;}